* {
    margin: 0;
    padding: 0;
}

.container {
    height: 600px;
    width: 50%;
    margin: auto;
    background: rgba(109, 81, 126, 0.678);
    border-radius: 40px 0px 40px 0px;
    margin-top: 80px;
}

.container:hover {
    background-color: rgba(92, 44, 22, 0.671);
}

.btn {
    font-size: 30px;
    background-color: turquoise;
    padding: 8px 25px;
    border: 0px;
    margin-top: 100px;
    text-transform: uppercase;
}

.drop-menu a {
    text-decoration: none;
    text-align: center;
    padding: 8px 15px;
    display: block;
    font-size: 25px;
    color: white;
    background: rgba(168, 189, 199, 0.432);
    margin: auto;
    width: 170px;
    text-transform: capitalize;
    transition: .6s;
}

.drop-menu a:hover {
    color: rgb(181, 40, 247);
    background: turquoise;
    font-style: italic;
}

.dropdown {
    margin: auto;
    width: 200px;
}

.drop-menu {
    position: absolute;
    left: 36%;
    display: none;
}

.main {
    position: relative;
}

.main:hover .drop-menu {
    display: block;
}

.main:hover .btn {
    background: rgb(64, 148, 31);
    color: white;
    transition: .4s;
}